body {
  display: flex;
  flex-direction: column;
  background-color: #fff1ce;
}

.center-text {
  text-align: center;
}

#head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subsection-title {
  font-weight: bold;
}

#canvas {
  background-color: rgb(200,200,200);
  border-width: 1;
  border-color: "black";
  margin: auto;
  align-self: center;
}

.section-title {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}


p.subsection-title {
  font-size: 20px;

}
