body {
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  
  
}
body.children {
  padding-left: 15%;
  padding-right: 15%;
}
a:link, a:visited { 
  color: white;
  text-decoration: underline;
}
.center-text {
  text-align: center;
}

.controls_img{
  flex: 50%;
}
#control{
  padding-right: 15%;
  padding-left: 25%;
  display: flex;
  align-items: center;
  
}

#head {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(92, 3, 92);
  color:white;
  margin-bottom: 100px;
}

.subsection-title {
  font-weight: bold;
}

#canvas {
  background-color: rgb(200,200,200);
  border-width: 1;
  border-color: "black";
  margin: auto;
  align-self: center;
}

.section-title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}


p.subsection-title {
  font-size: 26px;

}
.section{
  padding-left: 15%;
  padding-right: 15%;
}
.ptext{
  font-size: 22px;
  line-height: 170%;
  text-indent: 40px;
  margin-bottom: 50px;
  color: rgb(73, 73, 73);
}

.equation{
  margin-bottom: 50px;
  font-weight:bold;
  font-size: 23px;
}

.controls{
  width: 70%;
  height: auto;
}

#synopsis{
  background-color:rgb(228, 228, 228);
}

#analysis{
  background-color:rgb(228, 228, 228);
}

#tasks{
  
  background-color:rgb(228, 228, 228);
  
}